/* Style sheet for Bootstrap page */


/* Body styling */

html,body {
    height: 100%;
  }

/* Header styling*/

h1 {
    text-align: center;
    padding-top: 30px;
}

/* Nav Decoration */

.navbar-brand {
    font-size: 1.5rem;
}

.mynav a {
    border-bottom:solid 1px transparent;
}

.mynav a:hover {
    border-bottom: 1px solid #eeeeee;
}

/* Card Styling */

.card-title {
    text-align: center;
}

.card {
    border: 1px solid;
}

/* Footer styling */
footer {
    padding: 30px;
}