/* Style sheet for Bootstrap page */


/* Body styling */

body {
    background: url(Assets/Images/white-red-pattern-background.jpg);
    background-size: cover;
}

html,body {
    height: 100vh;
    font-family: 'Oxygen', sans-serif;
}

/* Header styling*/

h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;
}

h5 {
    text-decoration: bold;
    font-size: 1.5rem;
}

/* Nav Decoration */

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
}

.mynav a {
    border-bottom:solid 1px transparent;
}

@media (min-width: 768px) {
    .mynav a:hover {
        border-bottom: 1px solid #eeeeee;
    }
}


/* Card Styling */

.card-title {
    text-align: center;
    color: #eeeeee;
}

/* Form Styling */

.form-group {
    font-size: 1.5rem;
}


/* Footer styling */
footer {
    padding: 30px;
}